Kram/SendMails/.env
MNS-Studios/StundenplanRechner/.env
MNS-Studios/VideoStreamer/.env
MNS-Studios/VideoStreamer/__pycache__/main.cpython-313.pyc
StundenplanRechner/__pycache__/main.cpython-313.pyc
StundenplanRechner/__pycache__/test_basic.cpython-313.pyc
Valorant-Stuff/Ghünter/__pycache__/main.cpython-311.pyc
Valorant-Stuff/API-Valo/.env
Valorant-Stuff/Ghünter/.env
MNS-Studios/NewsBoarder/debug_ical.txt
